:root {
  --header-background-color: #ffffff;
  --header-color: #ffffff;
  --cover-image-background-color: #ffffff;
  --header-link-color: #ffffff
  --header-link-active-color: #cb4b16;
  --header-link-current-color: #ea7944;
  --header-link-active-background-color: #375C93;
  --header-link-active-background-color: rgba(55, 92, 147, 1);

  /*--background-color: #cacfd6;*/
  /*--footer-background-color: #edf0f5;*/
  --background-color: #edf0f5;
  --footer-background-color: #cacfd6;
  --footer-color: #000000;
  --footer-link-color: #cb4b16;

  --nav-brand-case: normal;
  --nav-menu-case: normal;
  --nav-heading-case: normal;
  --nav-categories-case: normal;
  --landing-header-case: normal;
  font-size: medium;
}

#m-landing-image
{
  color: #000000;
}

body > header > nav #m-navbar-collapse li
{
  background-color: #375C93;
}

#m-landing-image, #m-cover-image, article#m-jumbo > header #m-jumbo-image
{
  margin-top: -1rem;
  padding-top: 1rem;
}

.n-navbar, #navigation
{
  background-color: #375C93;
}

.m-fix-w-256
{
  width: 256px;
  height: auto;
}

.m-portrait
{
  width: 128px;
  height: 128px;
}

body > header > nav a#m-navbar-brand img, body > header > nav #m-navbar-brand a img {
  width: 6rem;
}

.m-container {
    width: 95% !important;
}

.m-container.m-container-inflatable {
    width: 95%;
}

.m-fix-w-768
{
    width: 768px;
}

.m-fix-w-512
{
    width: 512px;
}

body > header {
   z-index: 1; /* Put header in front plane (contents scroll behind it) */
   position: fixed; /* Fix header into position not to go away when scrolling */
   top: 0;
   left: 0;
   width: 100%; /* Make header take all horizontal space available */
   height: 4rem; /* Set header to fixed height */
}

body > main {
    padding-top: 7rem !important; /* Offset contents from top with same height from header */
}

#m-landing-cover {
    padding-bottom: 5rem; /* Reduce offset after landing image/text */
}

@media screen and (min-width: 768px)
.m-right-m, [class*='m-col-m-'].m-right-m {
    float: left;
}
/* Increase navigation padding to better fit the brands*/
body > header > navigation > m-container > n-navbar {
    padding: 10px;
}

/* Use white background for contrast,
   round borders and set min/max widths
   */
#m-navbar-brand {
    background-color: white;
    border-radius: 20px;
    min-width: 8rem;
    max-width: 15rem;
    margin: 0.5rem;
}

/* Increase padding in the navbar items */
body > header > nav #m-navbar-collapse {
    padding: 0.5rem !important;
}

/* Make download buttons follow automatic rules */
.m-col-m-2 {
    width: auto !important;
}